.myNav{
    padding-top: 1%;
    background: #c0def0;


}

.homeNav{
    font-size: 24px;
    display: inline-block;
    margin-left: 5%;
}
.loginNav{
    font-size: 24px;
    display: inline-block;
    margin-left: 15%;
    vertical-align: top;
}
.contactNav{
    font-size: 24px;
    display: inline-block;
    margin-left: 20%;
}
.homeLink{
    color:black;
    text-decoration: none;
    display: inline-block;
}
.title{
    font-size: 24px;
    height: 3em;
    padding-top: 1%;
    padding-left: 5%;
    margin-top: 1em;
    background: #280546;

}
.pageHeader{
    color: white;
}
.navbarTop{
    background: #280546;
    
}
.logoutButton{
    display: inline-block;

}
.addNav { 
    display: inline-block;
    font-size: 24px;
    margin-left: 20%;
}
.homeLink:hover{
    color: red;
}
.navCancelButton{
    
    
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal;
     text-decoration: none; 
     font-style: normal; 
     font-variant: normal; 
     text-transform: none; 
     background-image: linear-gradient(45deg, rgb(164, 14, 59) 0%, rgb(117, 14, 22) 100%); 
     box-shadow: rgb(0, 0, 0) 1px 1px 2px 1px; 
     border: 2px solid rgb(194, 16, 16); 
     display: inline-block;
    }
    .membersNav{

    }