.myNav{
    padding-top: 1%;
    background: #2442FF;
background: -moz-linear-gradient(45deg, #3B58B2 0%, #2442FF 100%);
background: -webkit-linear-gradient(45deg, #3B58B2 0%, #2442FF 100%);
background: linear-gradient(45deg, #3B58B2 0%, #2442FF 100%);

}

.homeNav{
    font-size: 32px;
    display: inline-block;
    margin-left: 5%;
}
.loginNav{
    font-size: 32px;
    display: inline-block;
    margin-left: 30%;
    vertical-align: top;
}
.contactNav{
    font-size: 32px;
    display: inline-block;
    margin-left: 15%;
}
.homeLink{
    color:black;
    text-decoration: none;
    display: inline-block;
}
.title{
    font-size: 32px;
    height: 3em;
    padding-top: 1%;
    padding-left: 5%;
    margin-top: 1em;
    background: #000000;
background: -moz-linear-gradient(45deg, #000000 0%, #000000 100%);
background: -webkit-linear-gradient(45deg, #000000 0%, #000000 100%);
background: linear-gradient(45deg, #000000 0%, #000000 100%);
color: azure;
}
.pageHeader{
    color: black;
}
.navbarTop{
    background: #000000;
    background: -moz-linear-gradient(45deg, #000000 0%, #000000 100%);
    background: -webkit-linear-gradient(45deg, #000000 0%, #000000 100%);
    background: linear-gradient(45deg, #000000 0%, #000000 100%);
}
.logoutButton{
    display: inline-block;

}
.addNav { 
    display: inline-block;
    font-size: 32px;
    margin-left: 15%;
}
.homeLink:hover{
    color: red;
}
.navCancelButton{
    
    
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal;
     text-decoration: none; 
     font-style: normal; 
     font-variant: normal; 
     text-transform: none; 
     background-image: linear-gradient(45deg, rgb(164, 14, 59) 0%, rgb(117, 14, 22) 100%); 
     box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
     border: 2px solid rgb(194, 16, 16); 
     display: inline-block;
    }