.budgetPieContainer{
    
    
}
.budgetPieChart {
    size: 10%;
    margin-right: 5%;
    margin-top: 5%;
}

.spendingPieContainer{
    

}
.spendingPieChart {
    size: 10%;
    margin-top: 5%;
}

.manageTransactions{
    margin-right: 70%;
    margin-top : -10%;
}