.myCarouselImage{
    padding-left: 2%;
    
}
.carouselImage{
   
    
}
.myCarousel-inner{
    size: 48px
}
.carousel-item{
    size: 48px
    
}
.homeHeader{
    text-align: center;
    margin-top: 5%;
}
.carousel-inner{
   
    
}