.contactForm{
    margin-top: 10%;
    outline: 6px double #000000;
    outline-offset: 0px;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin-bottom: 20%;
}
.contactButton{
    margin-left: 50%;
    margin-top: 3%;
}
.contactHeader{
    text-align: center;
    margin-top: 5%;
}